/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  opacity: 0.9;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("/assets/large-bg.jpg");
  background-image: linear-gradient(white, white), url("/assets/large-bg.jpg");
  background-size: cover;
  background-blend-mode: saturation;
}
